/******************sec1************/

#sec1 {
  width: 100%;
  height: 100vh;
  background-color: #183e33;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sec1_box {
}
.sec1_box h1 {
  color: #fab79d;
  font-size: 3.385vw;
  line-height: 1.4;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
}
.slideDown {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease;

  visibility: visible !important;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(8%);
  }
  65% {
    transform: translateY(-4%);
  }
  80% {
    transform: translateY(4%);
  }
  95% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

.c1 {
  display: inline-block;
  position: relative;
  height: 3.125em;
}
.c1:before {
  content: "";
  display: block;
  width: 100%;
  border-radius: 50%;
  height: 1.563em;
  background: hsla(0, 0%, 0%, 0.1);
  display: block;
  position: absolute;
  bottom: -0.1em;
  transform: scale(0.5);
  animation: shadow 1s linear infinite 0s;
}
.c1:after {
  content: "";
  display: block;
  width: 3.125em;
  height: 3.125em;
  background: #afc7b9;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  top: -2.5em;
  margin: 0 0.446em;
  animation: jellijump 1s linear infinite 0s;
}

.c2 {
  display: inline-block;
  position: relative;
  height: 2.5em;
  margin-right: 1vw;
}
.c2::before {
  content: "";
  display: block;
  width: 100%;
  border-radius: 50%;
  height: 1.25em;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: -0.1em;
  transform: scale(0.5);
  animation: shadow 1s linear infinite 0.2s;
}
.c2::after {
  content: "";
  display: block;
  width: 2.5em;
  height: 2.5em;
  background: #fca890;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  top: -2.5em;
  margin: 0 0.357em;
  animation: jellijump 1s linear infinite 0.2s;
}
.c3 {
  display: inline-block;
  position: relative;
  height: 1.875em;
  margin-right: 1vw;
}

.c3:before {
  content: "";
  display: block;
  width: 100%;
  border-radius: 50%;
  height: 0.938em;
  background: hsla(0, 0%, 0%, 0.1);
  display: block;
  position: absolute;
  bottom: -0.1em;
  transform: scale(0.5);
  animation: shadow 1s linear infinite 0.4s;
}
.c3:after {
  content: "";
  display: block;
  width: 1.875em;
  height: 1.875em;
  background: #fac7b4;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  top: -2.5em;
  margin: 0 0.268em;
  animation: jellijump 1s linear infinite 0.4s;
}
.c4 {
  display: inline-block;
  position: relative;
  height: 1.25em;
  margin-right: 1vw;
}

.c4:before {
  content: "";
  display: block;
  width: 100%;
  border-radius: 50%;
  height: 0.625em;
  background: hsla(0, 0%, 0%, 0.1);
  display: block;
  position: absolute;
  bottom: -0.1em;
  transform: scale(0.5);
  animation: shadow 1s linear infinite 0.6s;
}
.c4:after {
  content: "";
  display: block;
  width: 1.25em;
  height: 1.25em;
  background: #ffe1c9;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  top: -2.5em;
  margin: 0 0.179em;
  animation: jellijump 1s linear infinite 0.6s;
}

@keyframes jellijump {
  5% {
    top: -2.5em;
  }
  20% {
    top: -1.875em;
  }
  40% {
    top: -0.625em;
    border-radius: 50%;
  }
  45% {
    border-radius: 60% 40% 60% 40%;
  }
  50% {
    top: 0em;
    border-radius: 70% 40% 80% 40%;
  }
  60% {
    top: -0.625em;
    border-radius: 90% 40% 90% 40%;
  }
  80% {
    top: -1.875em;
    border-radius: 40% 80% 40% 70%;
  }
  90% {
    border-radius: 60% 40% 60% 40%;
  }
  95% {
    top: -2.5em;
    border-radius: 50%;
  }
}

@keyframes shadow {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
.custom-shape-divider-bottom-1645433408 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645433408 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 116px;
}

.custom-shape-divider-bottom-1645433408 .shape-fill {
  fill: #f7f4ed;
}
/***********sec2******************/

#sec2 {
  width: 100%;
  /*
  height: 100vh;
  background: #f7f4ed;
  */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20vh;
  margin-bottom: 300px;
  font-family: 'Open Sans', sans-serif;
}

.me img {
  border-radius: 50%;
  width: 400px;
}
#sec2 h2 {
  font-size: 7.812vw;
  position: relative;
  opacity: 0.3;
  color: #e9d3a2;
  margin-bottom: 30px;
  font-weight: bold;  
}
.intorduce {
  position: absolute;
  /*
  left: 25.3%;
  */
  left: 44.5vw;
  bottom: 28%;
  font-size: 2.5vw;
  color: #183e33;
  font-weight: bold;
}

.mini {
  font-size: 1.2vw;
  line-height: 1.5;

  margin-bottom: 50px;
  color: rgb(29, 29, 29);
}
.skill {
  font-size: 2.5vw;
  color: #183e33;
  margin-bottom: 20px;
}

.html_img li {
  display: block;
  float: left;
  width: 33.3%;
}
.html_img li img {
  height: 100px;
}

/***************m********************/
@media screen and (max-width:1024px) {
  .me img {
    width: 200px;
  }
  .intorduce {
    bottom: 37.5%;
  }
}
@media screen and (max-width:320px) {
  .me img {
    width: 150px;
  }
  .intorduce {
    bottom: 43.7%;
  }
  .html_img li img {
    height: 90px;
  }
  
}





/****************sec3*************************/
#sec3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 10vw;
  /*
  margin-bottom: 300px;
  */
  font-family: 'Open Sans', sans-serif;
}
#sec3 h2 {
  font-size: 7.812vw;
  opacity: 0.3;
  color: #e9d3a2;
  margin-bottom: 100px;
  font-weight: bold;
  /*
  font-size: 6vw;

  color: #fab79d;

  color: #3283ab;
  margin-bottom: 50px;
  text-align: center;
  */
}

#sec3 .portfolio {
  position: absolute;
  left: 45vw;
  top:14%;
  font-size: 2.5vw;
  color: #183e33;
  font-weight: bold;
}



/***************modal***/
#modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none; /*이것때문에 화면이 안보임*/
  overflow: auto;
  text-align: center;
  z-index: 99999999999999999999;
}
#modal .body {
  padding: 20px;

  /*opacity: 0;*/
  /*transform: translate(-50%, -50%);
  background: white;
  */
}
#modal .body img {
  display: block;
  margin-bottom: 20px;
  margin: 0 auto;
}
#modal .body .button {
  margin-top: 200px;
  text-align: center;
}
#modal .body .button button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background: #009688;
  color: white;
}



#contents {
  width: 100%;
}
.partner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partner_info {
  margin: 20px;
  position: relative;
  background: #000;
  width: 500px;
  height: 350px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.partner_info img{
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.partner_info::after{
  content: '';
  background: #fff;
  width: 0px;
  height: 1px;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.35s ease;
}
.partner_info::before{
  content: '';
  background: #fff;
  width: 1px;
  height: 0px;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.35s ease-in-out;
}
.info{
  position: absolute;
  left: 0;
  bottom: 0;
  color:#fff;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  opacity: 0;
  transition:  all 0.3s ease-in-out;
}
.info h3{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-bottom: 3px;
}
.partner_info:hover .info{
  opacity: 1;
}
.partner_info:hover img{
  opacity: 0.2;
}
.partner_info:hover:after{
  width: 60px;
}
.partner_info:hover::before{
  height: 60px;
}



/***************m********************/
@media screen and (max-width:1024px) {

  #sec3 .portfolio {
    top:6.5%;
  }
  #sec3 .partner_info img{
    width: 400px;
  }
  .partner_info {
    margin: 20px;
    width: 400px;
    height: auto;
}
  #modal .body img{
    width: 80%;
}
}

@media screen and (max-width:768px){
  .partner_info {
    margin: 20px;
    width: 300px;
    height: auto;
}
  #sec3 .partner_info img{
    width: 300px;
  }

  #modal .body img{
    width: 80%;
  }
} 
@media screen and (max-width:320px) {
  #sec3 .portfolio {
    top:1.5%;
  }
  #sec3 h2 {
    margin-bottom: 30px;
  }
}

/***************sec4************/
#sec4 {
  width: 100%;
  padding-bottom: 200px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

#sec4 h2 {
  font-size: 7.812vw;
  opacity: 0.3;
  color: #e9d3a2;
  font-weight: bold;
  margin-bottom: 5vw;
  /*
  margin-bottom: 100px;
  */
}
#sec4 .portfolio {
  position: absolute;
  left: 45vw;
  top: 15%;
  font-size: 2.5vw;
  color: #183e33;
  font-weight: bold;
}

.web_box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #010101;
}
.webcon img{
  margin-bottom: 2vw;
}
.w-tit{
  font-size: 1.56vw;
  margin-bottom: 1vw;
}
.w-txt{
  font-size: 1vw;
  line-height: 1.5;
}




.custom-shape-divider-bottom-1649736543 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1649736543 svg {
  position: relative;
  display: block;
  width: calc(134% + 1.3px);
  height: 122px;
}

.custom-shape-divider-bottom-1649736543 .shape-fill {
  fill: #183E33;
}



/***************m********************/
@media screen and (max-width:1024px) {
  #sec4 .portfolio {
    top: 10%;
}
  #sec4 .webcon img{
    width: 300px;
  }
}

@media screen and (max-width:768px) {
  #sec4 .portfolio {
    top: 10%;
}
  #sec4 .webcon img{
    width: 200px;
  }
}
@media screen and (max-width:320px) {
  .web_box {
    flex-direction: column;
  }
  #sec4 .portfolio {
    top: 2.4%;
  }
  .webcon{
    margin-bottom: 20px;
  }
}





/********footer*********/
#footer{
  background-color: #183e33;
  width: 100%;
  height: auto;
  position: relative;
}
.logo_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.progress{
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
}
.progress-container{
  transform: translateY(-50%);
  top: 70%;
  position: absolute;
  width: calc(100% - 200px);
  color: #fff;
  padding :0 100px;
  text-align: center;
}
.progress-container label{
  font-size: 2.2vw;
  opacity: 0;
  display: inline-block;
}

@keyframes anim {
  0%{
    opacity: 0;
    transform: translateX(-300px);
  }
  33%{
    opacity: 1;
    transform: translateX(0px);
  }
  66%{
    opacity: 1;
    transform: translateX(0px);
  }
  100%{
    opacity: 0;
    transform: translateX(300px);
  }
}

.f_con{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 10%;
  padding-bottom: 10%;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  font-size: 1vw;
}


/***************m********************/
@media screen and (max-width:1024px) {
  .progress-container{
    top: 90%;
  }
  .logo_footer img{
    width: 65px;
  }
}
@media screen and (max-width:768px) {
  .progress-container{
    top: 100%;
  }
  .logo_footer img{
    width: 65px;
  }
}
@media screen and (max-width:320px) {
  .progress-container {
    top: 122%;
  }
  .logo_footer img {
    width: 55px;
  }
}